@using System.Text.Json
@using BlazorSamples.Shared
@using BlazorSamples.Shared.Clients
@page "/chat-stream"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@inject ApiClient Api

@if (!isChecked)
{
    <PageTitle>Chat Stream</PageTitle>

    <h1>Chat Stream</h1>
}
else
{
    <PageTitle>Chat Stream Broken</PageTitle>

    <h1>Chat Stream Broken</h1>
}

@if (response is not null)
{
    <div>
        <label>Response</label>
        <p>@response.Message</p>
    </div>
}

<div>
    <InputCheckbox @bind-Value="isChecked" />
    <label>Broken</label>
</div>

<p>Ask question</p>

<EditForm Enhance Model="request" OnSubmit="SubmitAsync">
    <div class="form-group">
        <label for="Message">Question</label>
        <InputTextArea id="Message" class="form-control" rows="3" @bind-Value="request.Message" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {
    private bool isChecked = false;
    private ChatRequest request = new() { Message = "I need to get my tires changed from 12:00 to 2:00 pm on Friday March 15, 2024" };
    private ChatResponse? response;

    private async Task SubmitAsync()
    {
        response = new ChatResponse();
        response.Message = "";
        IAsyncEnumerable<ChatResponse?>? partials;
        if (!isChecked)
        {
            partials = Api.ChatStream(request);
        }
        else
        {
            partials = Api.ChatStreamBroken(request);
        }

        await foreach (var partial in partials)
        {
            response.Message += partial!.Message;
            StateHasChanged();
        }
    }
}
