@using BlazorSamples.Shared
@page "/chat"
@rendermode @(new InteractiveAutoRenderMode(prerender: true))
@inject ApiClient Api

@if (isChecked)
{
    <PageTitle>Kernel</PageTitle>

    <h1>Kernel</h1>
}
else
{
    <PageTitle>Chat</PageTitle>

    <h1>Chat</h1>
}

<label>Kernel?</label>
<input type="checkbox" checked="@isChecked" @oninput="CheckboxChanged" />

<p>Ask question</p>

@if (response is not null)
{
    <label>Response</label>
    <p>@response.Message</p>
}

<EditForm Model="request" OnSubmit="SubmitAsync">
    <div class="form-group">
        <label for="Message">Message</label>
        <InputTextArea id="Message" class="form-control" rows="3" @bind-Value="request.Message" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {
    private bool isChecked;

    private ChatRequest request = new() { Message = "Hello, how are you today?" };
    private ChatResponse? response;

    private async Task SubmitAsync()
    {
        if (isChecked)
        {
            response = await Api.KernelAsync(request);
        }
        else
        {
            response = await Api.ChatAsync(request);
        }
    }

    private void CheckboxChanged()
    {
        isChecked = !isChecked;
    }
}
