@using BlazorSamples.Shared
@page "/people"
@attribute [StreamRendering]
@rendermode InteractiveAuto
@inject NavigationManager NavigationManager
@inject PersonApiClient PersonApi

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates showing data.</p>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Age</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age.ToString(CultureInfo.InvariantCulture)</td>
                    <td><button class="btn btn-primary" @onclick="() => Delete(person.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? people;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(1000);
        people = await PersonApi.GetPersonAsync();
    }

    private async Task Delete(int id)
    {
        await PersonApi.DeletePersonAsync(id);
        people = await PersonApi.GetPersonAsync();
    }
}
