@page "/speech-to-text"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates speech to text.</p>

@code {

}
