@page "/speech-to-text"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<PageTitle>Speech to Text</PageTitle>

<h1>Speech to Text</h1>

<p>This component demonstrates speech to text.</p>

@code {

}
